# dependencies & distribution
node_modules/
dist/

# logs & lock files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb
pnpm-lock.yaml

# environment variables
# .env
.env.production

# specific files, folders
.DS_Store
/.astro
/.vercel
/*.css
/*.ts